color-background = #fff
color-border = #000


.iScrollHorizontalScrollbar
  position absolute
  z-index 9999
  height 6px
  left 3px
  right 3px
  bottom 3px
  overflow hidden
  &.iScrollBothScrollbars
    right 18px

.iScrollVerticalScrollbar
  position absolute
  z-index 9999
  width 6px
  bottom 3px
  top 3px
  right 3px
  overflow hidden
  &.iScrollBothScrollbars
    bottom 9px

.iScrollIndicator
  position absolute
  background rgba(0, 0, 0, 0.25)
  border-radius 3px
  .iScrollHorizontalScrollbar &
    height 100%
  .iScrollVerticalScrollbar &
    width 100%


a, a:link
  cursor pointer

body

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom 30px


.gridster
  width auto
  overflow hidden
  margin 0 auto

  .cell
    position absolute

.cell
  .buttons
    position absolute
    top 0
    right 100%
    margin-right 2px
    button
      display block
    .button_add
      display none
.cell_image
  img
    width 100%

.panes
  position absolute
  left 0
  top 0
  right 0
  bottom 0

.pane
  position absolute
  width 50%
  height 100%
  overflow hidden
  top 0
  background color-background
  .nav-tabs
    position relative
    z-index 2
    background color-background
  .tab-content
    box-sizing padding-box
    height 100%
    position relative
    z-index 1
    padding-top 42px
    margin-top -42px
  .tab-pane
    height 100%
  transition width .3s
.pane_left
  left 0
.pane_right
  right 0
  border-left 1px solid color-border

.scrollable
  overflow scroll
  overflow-x hidden
  position relative
  z-index 1
  &.iscroll
    overflow visible
    overflow-x visible

.contents
  width 100%
  box-sizing padding-box
  padding 5% 10%

.item
  position relative
  .pane_left &
    margin 2em 0
  .buttons
    position absolute
    top 0
    left 100%
    margin-left 2px
    button
      display block
    .button_remove
      display none

figure
  margin 2em 0
  .cell &
    margin 0
  img
    width 100%
  figcaption
    margin .5em 0 0

