/*
 * Overwritten by RailsBricks
 *
 *= require_self
 */
@import "framework_and_overrides";
// @import "jquery.gridster.min";
@import "jquery-ui.min";
@import "compass/css3";


.iScrollHorizontalScrollbar {
  position: absolute;
  z-index: 9999;
  height: 6px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  overflow: hidden;
  &.iScrollBothScrollbars {
    right: 18px;
    }
  }

.iScrollVerticalScrollbar {
  position: absolute;
  z-index: 9999;
  width: 6px;
  bottom: 3px;
  top: 3px;
  right: 3px;
  overflow: hidden;
  &.iScrollBothScrollbars {
    bottom: 9px;
    }
  }

.iScrollIndicator {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  .iScrollHorizontalScrollbar & {
    height: 100%;
    }
  .iScrollVerticalScrollbar & {
    width: 100%;
    }
  }


body {
  }

a, a:link {
  cursor: pointer
  }


.stroke-main {
  stroke: $text-color;
  }
.fill-main {
  fill: $text-color;
  }


.nav-tabs {
  a {
    font-weight: bold;
    color: #777;
    &:hover {
      color: #333;
      }
    text-transform: uppercase;
    border-radius: 0 !important;
    }
  li.active a {
    background: $body-bg;
    &,
    &:hover {
      color: $text-color;
      }
    }
  }

@media (min-width: $screen-sm-min) {
  #contents-tabs {
    position: absolute; z-index: 2;
    @include transform(rotate(90deg) translate(0, -100%));
    @include transform-origin(0, 0);
    }
  }


.gridster {
  width: auto;
  // width: 420px;
  overflow: hidden;
  margin: 0 auto;
  @include transition(width .3s);
  .cell {
    position: absolute;
    }
  }

.cell {
  }
.cell_image {
  img {
    width: 100%;
    }
  }

.panes {
  position: absolute;
  left: 0;
  top: $navbar-height;
  right: 0;
  bottom: 0;
  }

.scrollable {
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  &.iscroll {
    overflow: visible;
    overflow-x: visible;
    }
  }

.pane {
  position: absolute;
  height: 100%;
  top: 0;
  background: $body-bg;
  // @include transition(width .3s, left .3s, right .3s);
  .nav-tabs {
    position: relative;
    z-index: 2;
    background: #f0f0f0;
    li.active a {
      background: #f0f0f0;
      border-bottom-color: #f0f0f0;
      }
    }
  .tab-content {
    box-sizing: padding-box;
    height: 100%;
    position: relative;
    z-index: 1;
    // padding-top: 42px;
    // margin-top: -42px;
    }
  .tab-pane {
    height: 100%;
    }
  }
.pane_left {
  width: 25%;
  left: 0;
  background: #f0f0f0;
  }
.pane_right {
  width: auto;
  right: 0;
  left: 25%;
  border-left: 1px solid #000;
  // .panes_full & {
  //   width: auto;
  //   left: 39px;
  //   }
  }

.button-pane-expand,
.button-pane-collapse {
  position: absolute; z-index: 3;
  left: 0; top: 0;
  &,
  &:hover {
    color: $text-color;
    text-decoration: none;
    }
  }
.button-pane-expand {
  width: 39px;
  text-align: center;
  display: none;
  .panes_full & {
    display: block;
    }
  }
.button-pane-collapse {
  display: block;
  .panes_full & {
    display: none;
    }
  }


.items {
  // width: 100%;
  width: 80%;
  padding-left: 7.5%;
  // box-sizing: padding-box;
  // padding: 5% 10%;
  margin: 30px auto;
  }

.item {
  position: relative;
  #display & {
    background: $body-bg;
    padding: 1em;
    margin: -1em -1em 2em;
    }
  .items &.item_displayed {
    display: none;
    }
  .items & {
    margin: 0 0 3em;
    }
  .buttons-wrap {
    position: relative; z-index: 1;
    > * {
      opacity: 1;
      }
    &:hover {
      border: 1px solid $text-color;
      margin: -1px;
      > * {
        opacity: 0.3;
        }
      > .buttons {
        opacity: 1;
        }
      }
    }
  .buttons {
    position: absolute;
    opacity: 0;
    line-height: 20px;
    }
  .buttons_mid {
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    height: 63px;
    text-align: center;
    .bvi {
      display: inline-block;
      vertical-align: middle;
      margin: 0 20px;
      }
    }
  .buttons_tl,
  .buttons_bl {
    left: 5px;
    text-align: left;
    .bvi {
      float: left;
      margin: 0 5px 0 0;
      }
    }
  .buttons_tr,
  .buttons_br {
    right: 5px;
    text-align: right;
    .bvi {
      float: right;
      margin: 0 0 0 5px;
      }
    }
  .buttons_tl,
  .buttons_tr {
    top: 5px;
    }
  .buttons_bl,
  .buttons_br {
    bottom: 5px;
    }
  .button-add {
    display: inline-block;
    }
  .button-remove,
  .button-toggle-size {
    display: none;
    }
  &.item_displayed {
    .button-remove,
    .button-toggle-size {
      display: inline-block;
      }
    .button-add {
      display: none;
      }
    }
  }
  .bvi .vi {
    display: block;
    }

figure {
  margin: 2em 0;
  #display & {
    margin: 0;
    }
  img {
    width: 100%;
    }
  figcaption {
    margin: 1em 0 0;
    }
  p {
    margin: 0;
    }
  }

blockquote {
  border: none;
  text-align: center;
  #display & {
    margin: 0;
    }
  p {
    font-size: 13px;
    #display & {
      font-size: 26px;
      }
    text-transform: uppercase;
    }
  footer {
    font-size: 12px;
    #display & {
      font-size: 14px;
      }
    text-transform: none;
    }
  }

#display {
  margin: 30px 0;
  text-align: center;
  header {
    text-align: center;
    }
  .item {
    display: inline-block;
    vertical-align: top;
    width: 23.333%;
    // margin-left: 3.75%;
    // margin-right: 3.75%;
    text-align: left;
    }
  .display-col .item {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    }
  }
  .display-row {
    overflow: hidden;
    padding: 1em 0 0;
    background: #fcc;
    }
  .display-col {
    display: inline-block;
    vertical-align: top;
    // width: 23.333%;
    width: 30.833%;
    padding: 0 3.75% 100%;
    margin-bottom: -100%;
    // margin-left: 3.75%;
    // margin-right: 3.75%;
    background: #cfc;
    }
  .display-placeholder {
    // border: 1px dashed #333;
    // border-color: rgba(0, 0, 0, 0.25);
    // margin: -1px;
    background: #ccc;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0 0 3em;
    }
